[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.apk
*.vcxproj

# Ne PAS ignorer ProjectSettings et Packages
# UserSettings est facultatif (ignore les préférences spécifiques à un utilisateur)
[Uu]serSettings/

# Ignorer les fichiers générés localement, sauf ceux nécessaires
*.meta
